.issues-container {
  text-align: center;
}
.issues-container h1 {
  margin: 5vh 0;
}

.issues-list {
  margin: auto;
  padding: 1rem;
  width: 80vw;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-height: 25vh;
  position: relative;
}
