h3 a {
  text-decoration: none;
  color: #000000;
}

.search-section {
  margin: auto;
  margin-bottom: 1rem;
}

button,
select {
  padding: 0.5rem;
  min-width: 100px;
  font-size: 1rem;
  margin: 0 0.5rem;
  box-shadow: 0 0 5px 0.5px #e3e3e3;
  border: 1px solid #bdb9b9;
  height: 42px;
  cursor: pointer;
  border-radius: 0.25rem;
}

select {
  font-size: 0.9rem;
}

.align-center {
  text-align: center;
  margin: 8vh auto;
}

input {
  border: none;
  border-bottom: 2px solid #bdb9b9;
  width: 40%;
  font-size: 1rem;
  padding: 0.5rem;
  height: 1.5rem;
  outline: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 0.5px #d3d3d3;
}
