h3 a {
  text-decoration: none;
  color: #000000;
}

.search-section {
  margin: auto;
  margin-bottom: 1rem;
}

input {
  border: none;
  border-bottom: 2px solid #bdb9b9;
  width: 30%;
  font-size: 1rem;
  padding: 0.5rem;
  height: 1.5rem;
  outline: none;
  box-shadow: 0 0 5px 0.5px #d3d3d3;
}

.count {
  text-align: right;
  font-size: 1rem;
  color: #5e5c5c;
}
