body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-wrapper {
  text-align: center;
}
.card-wrapper h1 {
  margin: 5vh 0;
}

.card-content {
  margin: auto;
  padding: 1rem;
  width: 80vw;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-height: 25vh;
  position: relative;
  max-height: 70vh;
  overflow: auto;
}